.ui-like {
  --icon-size: 24px;
  --icon-secondary-color: rgb(211, 205, 205);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--icon-secondary-color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: top;
  pointer-events: none; /* svg 요소 자체는 클릭되지 않도록 합니다 */
}

.ui-like {
  display: inline-block;
  width: 50px; /* 클릭 가능한 영역을 넓힙니다 */
  height: 50px; /* 클릭 가능한 영역을 넓힙니다 */
  cursor: pointer; /* 커서를 포인터로 설정합니다 */
  position: relative; /* 자식 요소들을 위한 기준을 설정합니다 */
}

.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  animation: circles var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  animation: like var(--icon-anmt-duration) forwards;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  animation: circle var(--icon-anmt-duration) cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

@keyframes like {
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes circles {
  from {
    transform: scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
